<html>
<head>
    <meta charset="utf-8">
    <title>Vote-App</title>
</head>
<body>
<div id="app" />{{{ReactString}}}</div>
<script type="text/javascript">window.__INITIAL_STATE__={{{InitialState}}}</script>
<script src={{BundlePath}} type="text/javascript"></script>
</body>
</html>